<p>form works!</p>
<h3>template-driven forms</h3>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <input type="text" name="name" ngModel #name="ngModel" required > <br>
    <div style="color:palevioletred" *ngIf="name.invalid && (name.dirty || name.touched)">
        Vui lòng nhập tên
        </div>
    <input type="email" name="email" ngModel #email="ngModel" required email> <br>
    <div style="color:palevioletred" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Vui lòng nhập email</div>
        <div *ngIf="email.errors?.['email']">Vui lòng nhập đúng định dạng email</div>
        </div>
    <button type="submit">Submit</button>
</form>